.App {
  margin-left: 10%;
  margin-right: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* kyushik css */

/* app  */
.navBar {
  display: flex;
  text-align: center;
}

/* form  */

.formTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  text-align: left;
}

.questionBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.questionBoxText {
  width: 100%;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border: 2.5px solid #84B5EF;
  border-radius: 8px;
  font-size: 18px;
}

.textareaInput {
  width: 100%;
  border-radius: 8px;
  border: 2.5px solid #84B5EF;
  resize: none;
  font-family: helvetica;
  font-size: 18px;
}

.numberSize {
  width: 40px;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.textWithOptional {
  display: flex;
  justify-content: space-between;
}

.optional {
  color: lightslategrey;
  font-style: italic;
}

.subTitle {
  display: flex;
  text-align: center;
}

/* landingPage  */

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* writing styles*/

.writingStylesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styleContainer {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  border: 2.5px solid #84B5EF;
  width: 50%;

}

.styleContainerText {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.radioButton {
  /* display: none; */
}

.submitWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 50%;
  height: 50px;
  border: 2.5px solid #84B5EF;
  border-radius: 8px;
  background: #84B5EF;
  color: white;
  font-style: bold;
}